<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:replace="layout/page :: head(~{::link}, ~{::script})">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/dependence/datatables/1.10.16/css/dataTables.bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/dependence/bootstrap-treeview/2.1.5/css/bootstrap-treeview.min.css}">

        <script type="text/javascript" th:src="@{/resources/dependence/jquery/jquery.dateutils.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/dependence/jquery/jquery.slimscroll.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/dependence/datatables/1.10.16/js/jquery.dataTables.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/dependence/jquery/jquery.validate-1.17.0.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/dependence/bootstrap-treeview/2.1.5/js/bootstrap-treeview.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/dependence/datatables/1.10.16/js/dataTables.bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/project/detail.js}"></script>
        <script sec:authorize="hasRole('ROLE_ADMIN')" type="text/javascript" th:src="@{/resources/js/project/detail_creator.js}"></script>
        <script sec:authorize="hasRole('ROLE_ADVAN_USER')" type="text/javascript" th:src="@{/resources/js/project/detail_manager.js}"></script>
        <script sec:authorize="hasRole('ROLE_USER')" th:if="${project.principal.id == loginUser.id}" type="text/javascript" th:src="@{/resources/js/project/detail_principal.js}"></script>

    </head>

    <body class="hold-transition skin-blue">
        <div class="wrapper">
            <header class="main-header" th:replace="layout/page :: header"></header>

            <aside class="main-sidebar" th:replace="layout/page :: sidebar"></aside>

            <div class="content-wrapper">

                <section class="content-header">
                    <h1>
                        <span th:text="${project.name}">name</span>
                        <small><i class="fa fa-th icon-right" aria-hidden="true"></i><span th:text="${project.category}">category</span></small>
                        <small class="pull-right">
                            <div th:if="${memberError}" class="label label-danger">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                <span th:text="${memberError}"></span>
                                <span th:text="#{project_detail_member_error}">member error</span>
                                <a class="text-white message-remove" href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                        </small>
                    </h1>
                </section>

                <section class="content">

                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-aqua">
                                    <img class="project-user-img img-responsive img-circle" th:src="@{'/resources/image/user/'+ ${project.creator.photo != null ? project.creator.photo : 'sample-160x160.png'}}" alt="creator picture">
                                </span>

                                <div class="info-box-content">
                                    <span class="info-box-text" th:text="#{project_detail_creator}">creator</span>
                                    <span class="info-box-number" th:text="${project.creator.alias}">creator name</span>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-red">
                                    <img class="project-user-img img-responsive img-circle" th:src="@{'/resources/image/user/'+ ${project.manager != null && project.manager.photo != null ? project.manager.photo : 'sample-160x160.png'}}" alt="manager picture">
                                </span>

                                <div class="info-box-content">
                                    <span class="info-box-text" th:text="#{project_detail_manager}">manager</span>
                                    <span class="info-box-number" th:text="${project.manager?.alias}">manager name</span>
                                    <span class="info-box-number" th:unless="${project.manager}">
                                        <span th:text="#{project_detail_unspecified}" class="text-danger">unspecified</span>
                                        <a sec:authorize="hasRole('ROLE_ADMIN')" id="edit_manager" href="#" data-toggle="modal" data-target="#modal_select_user"><i class="fa fa-edit"></i></a>
                                    </span>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">

                            <div class="info-box">
                                <span class="info-box-icon bg-green">
                                    <img class="project-user-img img-responsive img-circle" th:src="@{'/resources/image/user/'+ ${project.principal != null && project.principal.photo != null ? project.principal.photo : 'sample-160x160.png'}}" alt="principal picture">
                                </span>

                                <div class="info-box-content">
                                    <span class="info-box-text" th:text="#{project_detail_principal}">principal</span>
                                    <span class="info-box-number" th:text="${project.principal?.alias}">principal name</span>
                                    <span class="info-box-number" th:unless="${project.principal}">
                                        <span th:text="#{project_detail_unspecified}" class="text-danger">unspecified</span>
                                        <a sec:authorize="hasRole('ROLE_ADVAN_USER')" id="edit_principal" href="#" data-toggle="modal" data-target="#modal_select_user"><i class="fa fa-edit"></i></a>
                                    </span>
                                    <span class="info-box-number" sec:authorize="hasRole('ROLE_USER')" th:if="${project.principal.id == loginUser.id and project.status == T(com.cowerling.pmn.domain.project.ProjectStatus).WAIT}">
                                        <form th:action="@{settings/status}" method="post">
                                            <input type="hidden" name="projectTag" th:value="${project.tag}" />
                                            <input type="hidden" name="status" value="progress" />
                                            <a class="text-success" id="start_project" href="#">
                                                <i class="fa fa-play-circle" aria-hidden="true"></i>
                                                <span th:text="#{project_detail_start_project}" class="text-success">start project</span>
                                            </a>
                                        </form>
                                    </span>
                                </div>

                            </div>

                        </div>

                        <!--modal for selecting user-->
                        <div class="modal fade" id="modal_select_user">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">modal</h4>
                                    </div>
                                    <form th:action="@{''}" method="post">
                                        <div class="modal-body">
                                            <div class="input-group margin-bottom-10">
                                                <input type="text" class="form-control search-content">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary user-search">
                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            <div class="tree-view"></div>
                                            <span class="label label-warning" style="font-size: 100%; font-weight: normal;">
                                                <i class="fa fa-star-o width-8-per"></i>
                                                <span class="user-message"></span>
                                            </span>
                                            <span class="label label-danger user-unselected" style="font-size: 100%; font-weight: normal;">
                                                <i class="fa fa-exclamation-circle"></i>
                                                <span th:text="#{project_detail_modal_unselected}">unselected</span>
                                            </span>
                                            <div>
                                                <input type="hidden" class="input-user" />
                                                <input type="hidden" name="projectTag" th:value="${project.tag}" />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" th:text="#{project_detail_modal_close}">close</button>
                                            <button type="submit" class="btn btn-primary" th:text="#{project_detail_modal_ok}">ok</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <i class="fa fa-bullhorn"></i>

                                    <h3 class="box-title" th:text="#{project_detail_survey}">survey</h3>
                                </div>

                                <div class="box-body">
                                    <div class="callout" th:classappend="${project.status.format()}">
                                        <h4 th:switch="${project.status}">
                                            <i th:case="${T(com.cowerling.pmn.domain.project.ProjectStatus).WAIT}" class="icon fa fa-warning"></i>
                                            <i th:case="${T(com.cowerling.pmn.domain.project.ProjectStatus).PROGRESS}" class="icon fa fa-info"></i>
                                            <i th:case="${T(com.cowerling.pmn.domain.project.ProjectStatus).FINISH}" class="icon fa fa-check"></i>
                                            <span th:text="#{project_detail_this_project}">this project</span>
                                            <span th:text="${project.status}">status</span>
                                        </h4>
                                        <i class="fa fa-clock-o"></i>
                                        <span th:text="#{project_detail_create_at}">create at</span>
                                        <span th:text="${#dates.format(project.createTime, 'yyyy-MM-dd hh:mm:ss')}"></span>
                                        <span th:text="#{project_detail_before_present}">before present</span>
                                        <span th:text="${T(com.cowerling.pmn.utils.DateUtils).beforePresent(project.createTime)}"></span>
                                    </div>

                                    <div>
                                        <strong><i class="fa fa-file-text-o margin-r-5"></i><span th:text="#{project_detail_remark}">remark</span></strong>
                                        <p sec:authorize="!hasRole('ROLE_ADMIN')" class="text-muted" th:text="${project.remark}"></p>
                                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                                            <form id="settings_remark" th:action="@{settings/remark}" method="post">
                                                <textarea class="text-area" id="remark" name="remark" th:text="${project.remark}" th:placeholder="#{project_detail_remark_demand}" maxlength="200"></textarea>
                                                <input type="hidden" name="projectTag" th:value="${project.tag}" />
                                                <button type="reset" class="btn btn-danger" th:text="#{project_detail_clear}">clear</button>
                                                <button type="submit" class="btn btn-primary" th:text="#{project_detail_modify}">modify</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="box box-warning">
                                <div class="box-header with-border">
                                    <i class="fa fa-users" aria-hidden="true"></i>

                                    <h3 class="box-title" th:text="#{project_detail_members}">members</h3>

                                    <div class="box-tools pull-right">
                                        <div class="label label-warning">
                                            <span th:text="${project.members.size()}"></span>
                                            <span th:text="#{project_detail_persons}">persons</span>
                                        </div>
                                    </div>

                                </div>

                                <div class="box-body no-padding member-list">
                                    <ul class="users-list clearfix">
                                        <li th:each="member : ${project.members}">
                                            <img style="max-width: 50%" th:src="@{'/resources/image/user/'+ ${member.photo != null ? member.photo : 'sample-160x160.png'}}" alt="member picture">
                                            <div class="users-list-name">
                                                <span th:text="${member.alias}">member alias</span>
                                                <div sec:authorize="hasRole('ROLE_USER')" th:if="${project.principal.id == loginUser.id and project.status == T(com.cowerling.pmn.domain.project.ProjectStatus).PROGRESS}" style="display: inline;">
                                                    <input type="hidden" class="member-name" th:value="${member.name}" />
                                                    <a class="member-remove text-danger" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="users-list-date">
                                                <span th:text="${member.department.name}">member department</span>
                                                <span th:text="${member.phone}">member phone</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div sec:authorize="hasRole('ROLE_USER')" th:if="${project.principal.id == loginUser.id and project.status == T(com.cowerling.pmn.domain.project.ProjectStatus).PROGRESS}" class="box-footer text-center">
                                    <button id="edit_member" class="btn btn-primary pull-left" th:text="#{project_detail_edit_member}" data-toggle="modal" data-target="#modal_select_user">edit member</button>
                                </div>

                            </div>

                            <!--delete memeber modal-->
                            <div sec:authorize="hasRole('ROLE_USER')" th:if="${project.principal.id == loginUser.id and project.status == T(com.cowerling.pmn.domain.project.ProjectStatus).PROGRESS}" class="modal fade" id="modal_remove_member">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title">
                                                <i class="fa fa-exclamation-triangle icon-right text-danger"></i>
                                                <span th:text="#{project_detail_confirm_remove_member}">confirm remove member</span>
                                            </h4>
                                        </div>
                                        <div class="modal-footer">
                                            <form th:action="@{settings/memberRemove}" method="post">
                                                <input type="hidden" name="projectTag" th:value="${project.tag}" />
                                                <input type="hidden" name="member" />
                                                <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{project_detail_remove_member_cancel}">cancel</button>
                                                <button type="submit" class="btn btn-primary" th:text="#{project_detail_remove_member_ok}">ok</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

            </div>

            <footer class="main-footer main-footer-narrow" th:replace="layout/page :: footer"></footer>

            <aside class="control-sidebar control-sidebar-dark" th:replace="layout/page :: control_sidebar"></aside>
            <div class="control-sidebar-bg" th:replace="layout/page :: control_sidebar_ex"></div>
        </div>
    </body>
</html>