<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:replace="layout/page :: head(~{::link}, ~{::script})">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/dependence/datatables/1.10.16/css/dataTables.bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/dependence/bootstrap-treeview/2.1.5/css/bootstrap-treeview.min.css}">

        <script type="text/javascript" th:src="@{/resources/dependence/jquery/jquery.dateutils.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/dependence/jquery/jquery.slimscroll.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/dependence/jquery.validation/1.17.0/jquery.validate.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/dependence/jquery.validation/1.17.0/localization/messages_zh.js}"></script>
        <script type="text/javascript" th:src="@{/resources/dependence/datatables/1.10.16/js/jquery.dataTables.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/dependence/bootstrap-treeview/2.1.5/js/bootstrap-treeview.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/dependence/datatables/1.10.16/js/dataTables.bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/project/detail.js}"></script>
        <script sec:authorize="hasRole('ROLE_ADMIN')" type="text/javascript" th:src="@{/resources/js/project/detail_creator.js}"></script>
        <script sec:authorize="hasRole('ROLE_ADVAN_USER')" type="text/javascript" th:src="@{/resources/js/project/detail_manager.js}"></script>
        <script sec:authorize="hasRole('ROLE_USER')" th:if="${project.principal.id == loginUser.id}" type="text/javascript" th:src="@{/resources/js/project/detail_principal.js}"></script>
    </head>

    <body class="hold-transition skin-blue">
        <div class="wrapper">
            <header class="main-header" th:replace="layout/page :: header"></header>

            <aside class="main-sidebar" th:replace="layout/page :: sidebar"></aside>

            <div class="content-wrapper">

                <section class="content-header">
                    <h1>
                        <span th:text="${project.name}">name</span>
                        <small><i class="fa fa-th icon-right" aria-hidden="true"></i><span th:text="${project.category}">category</span></small>
                        <small class="pull-right">
                            <div th:if="${memberError}" class="label label-danger">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                <span th:text="${memberError}"></span>
                                <span th:text="#{project_detail_member_error}">member error</span>
                                <a class="text-white message-remove" href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                        </small>
                    </h1>
                </section>

                <section class="content">

                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-aqua">
                                    <img class="project-user-img img-responsive img-circle" th:src="@{'/resources/image/user/'+ ${project.creator.photo != null ? project.creator.photo : 'sample-160x160.png'}}" alt="creator picture">
                                </span>

                                <div class="info-box-content">
                                    <span class="info-box-text" th:text="#{project_detail_creator}">creator</span>
                                    <span class="info-box-number" th:text="${project.creator.alias}">creator name</span>

                                    <span class="info-box-number" sec:authorize="hasRole('ROLE_ADMIN')" th:if="${project.creator.id == loginUser.id and project.status == T(com.cowerling.pmn.domain.project.ProjectStatus).PROGRESS and project.verification.creatorAdopt == true and project.verification.managerAdopt == true and project.verification.principalAdopt == true}">
                                        <form th:action="@{settings/status}" method="post">
                                            <input type="hidden" name="projectTag" th:value="${project.tag}" />
                                            <input type="hidden" name="status" value="finish" />
                                            <a class="text-success" id="finish_project" href="#">
                                                <i class="fa fa-play-circle" aria-hidden="true"></i>
                                                <span th:text="#{finish_project}" class="text-success">finish project</span>
                                            </a>
                                        </form>
                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-red">
                                    <img class="project-user-img img-responsive img-circle" th:src="@{'/resources/image/user/'+ ${project.manager != null && project.manager.photo != null ? project.manager.photo : 'sample-160x160.png'}}" alt="manager picture">
                                </span>

                                <div class="info-box-content">
                                    <span class="info-box-text" th:text="#{project_detail_manager}">manager</span>
                                    <span class="info-box-number" th:text="${project.manager?.alias}">manager name</span>
                                    <span class="info-box-number" th:unless="${project.manager}">
                                        <span th:text="#{project_detail_unspecified}" class="text-danger">unspecified</span>
                                        <a sec:authorize="hasRole('ROLE_ADMIN')" href="#" data-toggle="modal" data-target="#select_user_modal"><i class="fa fa-edit"></i></a>
                                    </span>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">

                            <div class="info-box">
                                <span class="info-box-icon bg-green">
                                    <img class="project-user-img img-responsive img-circle" th:src="@{'/resources/image/user/'+ ${project.principal != null && project.principal.photo != null ? project.principal.photo : 'sample-160x160.png'}}" alt="principal picture">
                                </span>

                                <div class="info-box-content">
                                    <span class="info-box-text" th:text="#{project_detail_principal}">principal</span>
                                    <span class="info-box-number" th:text="${project.principal?.alias}">principal name</span>
                                    <span class="info-box-number" th:unless="${project.principal}">
                                        <span th:text="#{project_detail_unspecified}" class="text-danger">unspecified</span>
                                        <a sec:authorize="hasRole('ROLE_ADVAN_USER')" href="#" data-toggle="modal" data-target="#select_user_modal"><i class="fa fa-edit"></i></a>
                                    </span>
                                    <span class="info-box-number" sec:authorize="hasRole('ROLE_USER')" th:if="${project.principal.id == loginUser.id and project.status == T(com.cowerling.pmn.domain.project.ProjectStatus).WAIT}">
                                        <form th:action="@{settings/status}" method="post">
                                            <input type="hidden" name="projectTag" th:value="${project.tag}" />
                                            <input type="hidden" name="status" value="progress" />
                                            <a class="text-success" id="start_project" href="#">
                                                <i class="fa fa-play-circle" aria-hidden="true"></i>
                                                <span th:text="#{project_detail_start_project}" class="text-success">start project</span>
                                            </a>
                                        </form>
                                    </span>
                                </div>

                            </div>

                        </div>

                        <div>
                            <div id="select_user_modal"></div>
                            <form th:action="@{''}" method="post">
                                <input type="hidden" name="projectTag" th:value="${project.tag}" />
                            </form>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <i class="fa fa-bullhorn"></i>

                                    <h3 class="box-title" th:text="#{project_detail_survey}">survey</h3>
                                </div>

                                <div class="box-body">
                                    <div class="callout" th:classappend="${project.status.format()}">
                                        <h4 th:switch="${project.status}">
                                            <i th:case="${T(com.cowerling.pmn.domain.project.ProjectStatus).WAIT}" class="icon fa fa-warning"></i>
                                            <i th:case="${T(com.cowerling.pmn.domain.project.ProjectStatus).PROGRESS}" class="icon fa fa-info"></i>
                                            <i th:case="${T(com.cowerling.pmn.domain.project.ProjectStatus).FINISH}" class="icon fa fa-check"></i>
                                            <span th:text="#{project_detail_this_project}">this project</span>
                                            <span th:text="${project.status}">status</span>
                                        </h4>
                                        <i class="fa fa-clock-o"></i>
                                        <span th:text="#{project_detail_create_at}">create at</span>
                                        <span th:text="${#dates.format(project.createTime, 'yyyy-MM-dd hh:mm:ss')}"></span>
                                        <span th:text="#{project_detail_before_present}">before present</span>
                                        <span th:text="${T(com.cowerling.pmn.utils.DateUtils).beforePresent(project.createTime)}"></span>
                                    </div>

                                    <div>
                                        <strong><i class="fa fa-file-text-o margin-r-5"></i><span th:text="#{project_detail_remark}">remark</span></strong>
                                        <p sec:authorize="!hasRole('ROLE_ADMIN')" class="text-muted" th:text="${project.remark}"></p>
                                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                                            <form id="settings_remark" th:action="@{settings/remark}" method="post">
                                                <textarea class="text-area" name="remark" th:text="${project.remark}" th:placeholder="#{200_remark_demand}" maxlength="200"></textarea>
                                                <input type="hidden" name="projectTag" th:value="${project.tag}" />
                                                <button type="reset" class="btn btn-danger" th:text="#{clear}">clear</button>
                                                <button type="submit" class="btn btn-primary" th:text="#{modify}">modify</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="box box-warning">
                                <div class="box-header with-border">
                                    <i class="fa fa-users" aria-hidden="true"></i>

                                    <h3 class="box-title" th:text="#{project_detail_members}">members</h3>

                                    <div class="box-tools pull-right">
                                        <div class="label label-warning">
                                            <span th:text="${project.members.size()}"></span>
                                            <span th:text="#{project_detail_persons}">persons</span>
                                        </div>
                                    </div>

                                </div>

                                <div class="box-body no-padding member-list">
                                    <ul class="users-list clearfix">
                                        <li th:each="member : ${project.members}">
                                            <img style="max-width: 50%" th:src="@{'/resources/image/user/'+ ${member.photo != null ? member.photo : 'sample-160x160.png'}}" alt="member picture">
                                            <div class="users-list-name">
                                                <span th:text="${member.alias}">member alias</span>
                                                <div sec:authorize="hasRole('ROLE_USER')" th:if="${project.principal.id == loginUser.id and project.status == T(com.cowerling.pmn.domain.project.ProjectStatus).PROGRESS}" style="display: inline;">
                                                    <input type="hidden" class="member-name" th:value="${member.name}" />
                                                    <a class="member-remove text-danger" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="users-list-date">
                                                <span th:text="${member.department.name}">member department</span>
                                                <span th:text="${member.phone}">member phone</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div sec:authorize="hasRole('ROLE_USER')" th:if="${project.principal.id == loginUser.id and project.status == T(com.cowerling.pmn.domain.project.ProjectStatus).PROGRESS}" class="box-footer text-center">
                                    <button id="edit_member" class="btn btn-primary pull-left" th:text="#{project_detail_edit_member}" data-toggle="modal" data-target="#select_user_modal">edit member</button>
                                </div>

                            </div>

                            <!--delete memeber modal-->
                            <div sec:authorize="hasRole('ROLE_USER')" th:if="${project.principal.id == loginUser.id and project.status == T(com.cowerling.pmn.domain.project.ProjectStatus).PROGRESS}" class="modal fade" id="modal_remove_member">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title">
                                                <i class="fa fa-exclamation-triangle icon-right text-danger"></i>
                                                <span th:text="#{project_detail_confirm_remove_member}">confirm remove member</span>
                                            </h4>
                                        </div>
                                        <div class="modal-footer">
                                            <form th:action="@{settings/memberRemove}" method="post">
                                                <input type="hidden" name="projectTag" th:value="${project.tag}" />
                                                <input type="hidden" name="member" />
                                                <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{project_detail_remove_member_cancel}">cancel</button>
                                                <button type="submit" class="btn btn-primary" th:text="#{project_detail_remove_member_ok}">ok</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="box box-default">

                                <div class="box-header with-border">
                                    <i class="fa fa-table" aria-hidden="true"></i>
                                    <h3 class="box-title" th:text="#{project_detail_data_list}">data list</h3>
                                </div>

                                <div class="box-body">

                                    <table id="data_list_table" class="table table-bordered table-striped data-table" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th th:text="#{data_record_name}">Name</th>
                                                <th th:text="#{uploader}">Uploader</th>
                                                <th th:text="#{upload_time}">Upload Time</th>
                                                <th th:text="#{data_record_status}">Status</th>
                                                <th th:text="#{operation}">Operation</th>
                                            </tr>
                                        </thead>

                                        <tfoot>
                                            <tr>
                                                <th th:text="#{data_record_name}">Name</th>
                                                <th th:text="#{uploader}">Uploader</th>
                                                <th th:text="#{upload_time}">Upload Time</th>
                                                <th th:text="#{data_record_status}">Status</th>
                                                <th th:text="#{operation}">Operation</th>
                                            </tr>
                                        </tfoot>

                                        <input type="hidden" class="search-condition" th:value="${project.tag}" />
                                    </table>

                                </div>

                            </div>

                        </div>

                        <div class="col-md-6" th:if="${project.status == T(com.cowerling.pmn.domain.project.ProjectStatus).PROGRESS or project.status == T(com.cowerling.pmn.domain.project.ProjectStatus).FINISH}">

                            <div class="box box-warning">

                                <div class="box-header with-border">
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                    <h3 class="box-title" th:text="#{verification}">verification</h3>
                                </div>

                                <div class="box-body">

                                    <div id="verification_setting" class="row">

                                        <div class="col-md-4">
                                            <strong>
                                                <i class="fa fa-file-text-o margin-r-5"></i>
                                                <span th:text="#{creator_verification_remark}">creator verification remark</span>
                                                <i th:if="${project.verification.creatorAdopt == true}" class="fa fa-check-circle-o text-success" aria-hidden="true"></i>
                                                <i th:if="${project.verification.creatorAdopt == false}" class="fa fa-exclamation-circle text-orange" aria-hidden="true"></i>
                                            </strong>
                                            <p th:if="${!(project.status == T(com.cowerling.pmn.domain.project.ProjectStatus).PROGRESS and project.creator.id == loginUser.id and project.verification.creatorAdopt == false and project.verification.managerAdopt == true)}" class="text-muted text-success" th:text="${project.verification.creatorRemark}"></p>
                                            <div th:if="${project.status == T(com.cowerling.pmn.domain.project.ProjectStatus).PROGRESS and project.creator.id == loginUser.id and project.verification.creatorAdopt == false and project.verification.managerAdopt == true}">
                                                <form th:action="@{settings/verificationCreator}" method="post">
                                                    <textarea class="text-area" style="min-height: 200px;" name="creatorRemark" th:text="${project.verification.creatorRemark}" th:placeholder="#{200_remark_demand}" maxlength="200" required></textarea>
                                                    <input type="hidden" name="projectTag" th:value="${project.tag}" />
                                                    <input type="hidden" name="creatorAdopt" />
                                                    <button type="button" class="btn btn-danger reject" th:text="#{reject_verification}">reject verification</button>
                                                    <button type="button" class="btn btn-primary submit" th:text="#{submit_verification}">submit verification</button>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <strong>
                                                <i class="fa fa-file-text-o margin-r-5"></i>
                                                <span th:text="#{manager_verification_remark}">manager verification remark</span>
                                                <i th:if="${project.verification.managerAdopt == true}" class="fa fa-check-circle-o text-success" aria-hidden="true"></i>
                                                <i th:if="${project.verification.managerAdopt == false}" class="fa fa-exclamation-circle text-orange" aria-hidden="true"></i>
                                            </strong>
                                            <p th:if="${!(project.status == T(com.cowerling.pmn.domain.project.ProjectStatus).PROGRESS and project.manager.id == loginUser.id and project.verification.managerAdopt == false and project.verification.principalAdopt == true)}" class="text-muted text-success" th:text="${project.verification.managerRemark}"></p>
                                            <div th:if="${project.status == T(com.cowerling.pmn.domain.project.ProjectStatus).PROGRESS and project.manager.id == loginUser.id and project.verification.managerAdopt == false and project.verification.principalAdopt == true}">
                                                <form th:action="@{settings/verificationManager}" method="post">
                                                    <textarea class="text-area" style="min-height: 200px;" name="managerRemark" th:text="${project.verification.managerRemark}" th:placeholder="#{200_remark_demand}" maxlength="200" required></textarea>
                                                    <input type="hidden" name="projectTag" th:value="${project.tag}" />
                                                    <input type="hidden" name="managerAdopt" />
                                                    <button type="button" class="btn btn-danger reject" th:text="#{reject_verification}">reject verification</button>
                                                    <button type="button" class="btn btn-primary submit" th:text="#{submit_verification}">submit verification</button>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <strong>
                                                <i class="fa fa-file-text-o margin-r-5"></i>
                                                <span th:text="#{principal_verification_remark}">principal verification remark</span>
                                                <i th:if="${project.verification.principalAdopt == true}" class="fa fa-check-circle-o text-success" aria-hidden="true"></i>
                                                <i th:if="${project.verification.principalAdopt == false}" class="fa fa-exclamation-circle text-orange" aria-hidden="true"></i>
                                            </strong>
                                            <p th:if="${!(project.status == T(com.cowerling.pmn.domain.project.ProjectStatus).PROGRESS and project.principal.id == loginUser.id and project.verification.principalAdopt == false)}" class="text-muted text-success" th:text="${project.verification.principalRemark}"></p>
                                            <div th:if="${project.status == T(com.cowerling.pmn.domain.project.ProjectStatus).PROGRESS and project.principal.id == loginUser.id and project.verification.principalAdopt == false}">
                                                <form th:action="@{settings/verificationPrincipal}" method="post">
                                                    <textarea class="text-area" style="min-height: 200px;" name="principalRemark" th:text="${project.verification.principalRemark}" th:placeholder="#{200_remark_demand}" maxlength="200" required></textarea>
                                                    <input type="hidden" name="projectTag" th:value="${project.tag}" />
                                                    <input type="hidden" name="principalAdopt" value="true" />
                                                    <button type="submit" class="btn btn-primary" th:text="#{submit_verification}">submit verification</button>
                                                </form>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </section>

            </div>

            <footer class="main-footer main-footer-narrow" th:replace="layout/page :: footer"></footer>

            <aside class="control-sidebar control-sidebar-dark" th:replace="layout/page :: control_sidebar"></aside>
            <div class="control-sidebar-bg" th:replace="layout/page :: control_sidebar_ex"></div>
        </div>
    </body>
</html>