<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:replace="layout/page :: head(~{::link}, ~{::script})">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/dependence/datatables/1.10.16/css/dataTables.bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/dependence/bootstrap-daterangepicker/3.0.3/css/daterangepicker.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/dependence/bootstrap-treeview/2.1.5/css/bootstrap-treeview.min.css}">

        <script type="text/javascript" th:src="@{/resources/dependence/jquery/jquery.dateutils.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/dependence/jquery.validation/1.17.0/jquery.validate.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/dependence/jquery.validation/1.17.0/localization/messages_zh.js}"></script>
        <script type="text/javascript" th:src="@{/resources/dependence/datatables/1.10.16/js/jquery.dataTables.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/dependence/datatables/1.10.16/js/dataTables.bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/dependence/select2/4.0.3/js/select2.js}"></script>
        <script type="text/javascript" th:src="@{/resources/dependence/bootstrap-daterangepicker/3.0.3/js/moment.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/dependence/bootstrap-daterangepicker/3.0.3/js/daterangepicker.js}"></script>
        <script type="text/javascript" th:src="@{/resources/dependence/bootstrap-treeview/2.1.5/js/bootstrap-treeview.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/project/list.js}"></script>
        <script sec:authorize="hasRole('ROLE_ADMIN')" type="text/javascript" th:src="@{/resources/js/project/list_creator.js}"></script>
        <script sec:authorize="hasRole('ROLE_ADVAN_USER')" type="text/javascript" th:src="@{/resources/js/project/list_manager.js}"></script>
        <script sec:authorize="hasRole('ROLE_USER')" type="text/javascript" th:src="@{/resources/js/project/list_principal.js}"></script>
        <script sec:authorize="hasRole('ROLE_USER')" type="text/javascript" th:src="@{/resources/js/project/list_participator.js}"></script>
    </head>

    <body class="hold-transition skin-blue">
        <div class="wrapper">
            <header class="main-header" th:replace="layout/page :: header"></header>

            <aside class="main-sidebar" th:replace="layout/page :: sidebar"></aside>

            <div class="content-wrapper">

                <section class="content">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li sec:authorize="hasRole('ROLE_ADMIN')" class="active"><a href="#creator_list_tab" data-toggle="tab"><i class="fa fa-wrench icon-right"></i><span th:text="#{project_list_creator}">creator</span></a></li>
                            <li sec:authorize="hasRole('ROLE_ADVAN_USER')" class="active"><a href="#manager_list_tab" data-toggle="tab"><i class="fa fa-cogs icon-right"></i><span th:text="#{project_list_manager}">manager</span></a></li>
                            <li sec:authorize="hasRole('ROLE_USER')" class="active"><a href="#principal_list_tab" data-toggle="tab"><i class="fa fa-eye icon-right"></i><span th:text="#{project_list_principal}">principal</span></a></li>
                            <li sec:authorize="hasRole('ROLE_USER')"><a href="#participator_list_tab" data-toggle="tab"><i class="fa fa-street-view icon-right"></i><span th:text="#{project_list_participator}">participator</span></a></li>
                            <li>
                                <button id="clear_search" class="btn btn-warning"><i class="fa fa-dot-circle-o icon-right" aria-hidden="true"></i><span th:text="#{project_clear_search}">clear search</span></button>
                            </li>
                            <li class="pull-right">
                                <button sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-success" data-toggle="modal" data-target="#project_add_modal"><i class="fa fa-external-link-square icon-right"></i><span th:text="#{project_list_add}">add</span></button>
                                <button id="project_search" class="btn btn-primary" data-toggle="modal" data-target="#project_search_modal"><i class="fa fa-search icon-right"></i><span th:text="#{project_list_search}">search</span></button>
                            </li>
                        </ul>

                        <div class="tab-content">

                            <div sec:authorize="hasRole('ROLE_ADMIN')" class="tab-pane active" id="creator_list_tab">

                                <table id="creator_list_table" class="table table-bordered table-striped data-table" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th th:text="#{project_list_table_name}">Name</th>
                                            <th th:text="#{project_list_table_category}">Category</th>
                                            <th th:text="#{project_list_table_create_time}">Create Time</th>
                                            <th th:text="#{project_list_table_status}">Status</th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <th th:text="#{project_list_table_name}">Name</th>
                                            <th th:text="#{project_list_table_category}">Category</th>
                                            <th th:text="#{project_list_table_create_time}">Create Time</th>
                                            <th th:text="#{project_list_table_status}">Status</th>
                                        </tr>
                                    </tfoot>

                                    <input type="hidden" class="search-condition" />
                                </table>

                            </div>

                            <div sec:authorize="hasRole('ROLE_ADVAN_USER')" class="tab-pane active" id="manager_list_tab">
                                <table id="manager_list_table" class="table table-bordered table-striped data-table" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th th:text="#{project_list_table_name}">Name</th>
                                            <th th:text="#{project_list_table_category}">Category</th>
                                            <th th:text="#{project_list_table_create_time}">Create Time</th>
                                            <th th:text="#{project_list_table_status}">Status</th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <th th:text="#{project_list_table_name}">Name</th>
                                            <th th:text="#{project_list_table_category}">Category</th>
                                            <th th:text="#{project_list_table_create_time}">Create Time</th>
                                            <th th:text="#{project_list_table_status}">Status</th>
                                        </tr>
                                    </tfoot>

                                    <input type="hidden" class="search-condition" />
                                </table>
                            </div>

                            <div sec:authorize="hasRole('ROLE_USER')" class="tab-pane active" id="principal_list_tab">
                                <table id="principal_list_table" class="table table-bordered table-striped data-table" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th th:text="#{project_list_table_name}">Name</th>
                                            <th th:text="#{project_list_table_category}">Category</th>
                                            <th th:text="#{project_list_table_create_time}">Create Time</th>
                                            <th th:text="#{project_list_table_status}">Status</th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <th th:text="#{project_list_table_name}">Name</th>
                                            <th th:text="#{project_list_table_category}">Category</th>
                                            <th th:text="#{project_list_table_create_time}">Create Time</th>
                                            <th th:text="#{project_list_table_status}">Status</th>
                                        </tr>
                                    </tfoot>

                                    <input type="hidden" class="search-condition" />
                                </table>
                            </div>

                            <div sec:authorize="hasRole('ROLE_USER')"  class="tab-pane" id="participator_list_tab">
                                <table id="participator_list_table" class="table table-bordered table-striped data-table" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th th:text="#{project_list_table_name}">Name</th>
                                            <th th:text="#{project_list_table_category}">Category</th>
                                            <th th:text="#{project_list_table_create_time}">Create Time</th>
                                            <th th:text="#{project_list_table_status}">Status</th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <th th:text="#{project_list_table_name}">Name</th>
                                            <th th:text="#{project_list_table_category}">Category</th>
                                            <th th:text="#{project_list_table_create_time}">Create Time</th>
                                            <th th:text="#{project_list_table_status}">Status</th>
                                        </tr>
                                    </tfoot>

                                    <input type="hidden" class="search-condition" />
                                </table>
                            </div>

                        </div>
                    </div>

                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="modal fade" id="project_add_modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">
                                        <i class="fa fa-external-link-square icon-right text-success"></i>
                                        <span th:text="#{project_list_add_project}">add project</span>
                                    </h4>
                                </div>
                                <form id="project_add_form" class="form-horizontal" th:action="@{add}" method="post">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="project_name" class="col-sm-2 control-label" th:text="#{project_list_project_name}">Name</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="project_name" name="name" th:placeholder="#{project_list_project_name}" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="project_category" class="col-sm-2 control-label" th:text="#{project_list_project_category}">category</label>

                                            <div class="col-sm-10">
                                                <select class="form-control select2" id="project_category" style="width: 100%;" name="category">
                                                    <option th:each="category : ${T(com.cowerling.pmn.domain.project.ProjectCategory).values()}" th:text="${category}" th:value="${category.name()}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="project_remark" class="col-sm-2 control-label" th:text="#{project_list_project_remark}">remark</label>

                                            <div class="col-sm-10">
                                                <textarea type="text" class="form-control text-area" id="project_remark" name="remark" th:placeholder="#{project_list_project_remark_demand}" maxlength="200"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{cancel}">cancel</button>
                                        <button type="submit" class="btn btn-success" th:text="#{ok}">ok</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="modal fade project-remove-hint">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">
                                        <i class="fa fa-exclamation-triangle icon-right text-danger"></i>
                                        <span th:text="#{project_list_confirm_remove}">confirm_remove_project</span>
                                    </h4>
                                </div>
                                <div class="modal-footer">
                                    <form th:action="@{''}" method="post">
                                        <input type="hidden" class="project-tag" name="projectTag" />
                                        <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{cancel}">cancel</button>
                                        <button type="submit" class="btn btn-primary" th:text="#{ok}">ok</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="project_search_modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">
                                        <i class="fa fa-search icon-right text-primary"></i>
                                        <span th:text="#{project_list_search_project}">search project</span>
                                    </h4>
                                </div>

                                <div class="modal-body">

                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label for="search_project_name" class="col-sm-2 control-label" th:text="#{project_list_search_project_name}">name</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control project-name" id="search_project_name" th:placeholder="#{project_list_search_project_name_split}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="search_project_category" class="col-sm-2 control-label" th:text="#{project_list_search_project_category}">category</label>

                                            <div class="col-sm-10">
                                                <select class="form-control select2 project-category" multiple="multiple" id="search_project_category" style="width: 100%;">
                                                    <option th:each="category : ${T(com.cowerling.pmn.domain.project.ProjectCategory).values()}" th:text="${category}" th:value="${category.name()}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div sec:authorize="!hasRole('ROLE_ADMIN')" class="form-group">
                                            <label for="search_project_creator_select" class="col-sm-2 control-label" th:text="#{project_list_search_project_creator}">creator</label>

                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <input type="text" class="form-control project-creator-alias" th:placeholder="#{project_list_search_project_creator}" readonly="readonly" />
                                                    <input type="hidden" class="project-creator-name" />
                                                    <span class="input-group-btn">
                                                        <button id="search_project_creator_select" type="button" class="btn btn-primary project-creator-select">
                                                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" th:text="#{project_list_search_project_create_time}">create time</label>

                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                    </div>
                                                    <input type="text" class="form-control pull-right date-range project-create-time" id="search_project_create_time">
                                                </div>
                                            </div>
                                        </div>

                                        <div sec:authorize="!hasRole('ROLE_ADVAN_USER')" class="form-group">
                                            <label for="search_project_manager_select" class="col-sm-2 control-label" th:text="#{project_list_search_project_manager}">manager</label>

                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <input type="text" class="form-control project-manager-alias" th:placeholder="#{project_list_search_project_manager}" readonly="readonly" />
                                                    <input type="hidden" class="project-manager-name" />
                                                    <span class="input-group-btn">
                                                        <button id="search_project_manager_select" type="button" class="btn btn-primary project-manager-select">
                                                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group principal-select">
                                            <label for="search_project_principal_select" class="col-sm-2 control-label" th:text="#{project_list_search_project_principal}">principal</label>

                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <input type="text" class="form-control project-principal-alias" th:placeholder="#{project_list_search_project_principal}" readonly="readonly" />
                                                    <input type="hidden" class="project-principal-name" />
                                                    <span class="input-group-btn">
                                                        <button id="search_project_principal_select" type="button" class="btn btn-primary project-principal-select">
                                                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="search_project_remark" class="col-sm-2 control-label" th:text="#{project_list_search_project_remark}">remark</label>

                                            <div class="col-sm-10">
                                                <textarea type="text" class="form-control text-area project-remark" id="search_project_remark"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="search_project_status" class="col-sm-2 control-label" th:text="#{project_list_search_project_status}">status</label>

                                            <div class="col-sm-10">
                                                <select class="form-control select2 project-status" multiple="multiple" id="search_project_status" style="width: 100%;">
                                                    <option th:each="status : ${T(com.cowerling.pmn.domain.project.ProjectStatus).values()}" th:text="${status}" th:value="${status.name()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <input type="hidden" id="search_project_query" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{project_list_search_cancel}">cancel</button>
                                    <button type="button" class="btn btn-primary ok" th:text="#{project_list_search_ok}">ok</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="select_user_modal"></div>

                </section>

            </div>

            <footer class="main-footer main-footer-narrow" th:replace="layout/page :: footer"></footer>

            <aside class="control-sidebar control-sidebar-dark" th:replace="layout/page :: control_sidebar"></aside>
            <div class="control-sidebar-bg" th:replace="layout/page :: control_sidebar_ex"></div>
        </div>
    </body>
</html>