<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/page :: head(~{::link}, ~{::script})">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/dependence/datatables/1.10.16/css/dataTables.bootstrap.min.css}">

        <script type="text/javascript" th:src="@{/resources/dependence/datatables/1.10.16/js/jquery.dataTables.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/dependence/datatables/1.10.16/js/dataTables.bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/document/list.js}"></script>
    </head>

    <body class="hold-transition skin-blue fixed">
        <div class="wrapper">
            <header class="main-header" th:replace="layout/page :: header"></header>

            <aside class="main-sidebar" th:replace="layout/page :: sidebar"></aside>

            <div class="content-wrapper">

                <section class="content">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-body">
                                    <table id="list_table" class="table table-bordered table-striped data-table" style="width: 100%">
                                        <thead>
                                        <tr>
                                            <th th:text="#{document_name}">Document Name</th>
                                            <th th:text="#{brief}">Brief</th>
                                            <th th:text="#{operation}">Operation</th>
                                        </tr>
                                        </thead>

                                        <tfoot>
                                        <tr>
                                            <th th:text="#{document_name}">Document Name</th>
                                            <th th:text="#{brief}">Brief</th>
                                            <th th:text="#{operation}">Operation</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

            </div>

            <footer class="main-footer main-footer-narrow" th:replace="layout/page :: footer"></footer>

            <aside class="control-sidebar control-sidebar-dark" th:replace="layout/page :: control_sidebar"></aside>
            <div class="control-sidebar-bg" th:replace="layout/page :: control_sidebar_ex"></div>
        </div>
    </body>
</html>